<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
</head>
<body>
<h1><%= title %></h1>
<a href="/">🠔 Back to group overview</a>
<ul class="list-group mt-3">
    <% if(users.length > 0){ %>
        <% users.forEach(function(user) { %>
            <li class="list-group-item">
                <span><%= user.displayName %> (<%= user.email %>)</span>

                <% if (user.customClaims && user.customClaims.admin === true) { %>
                    <span class="pe-2"> - Admin </span>
                    <button class="btn btn-primary" onclick="makeUser(<%= JSON.stringify(user) %>)">Make User</button>
                <% } else { %>
                    <span class="pe-2"> - User </span>
                    <button class="btn btn-success" onclick="makeAdmin(<%= JSON.stringify(user) %>)">Make Admin</button>
                <% } %>
            </li>
        <% }); %>
    <% } else{ %>
        <h3>No users have registered yet.</h3>
    <% } %>
</ul>
</body>
<script>
  let group = "<%= group %>"

  async function makeAdmin(user) {
    console.log(`Making user ${user.email} admin...`);
    await fetch(`/users/${group}/${user.uid}/admin`, {method: "PATCH"});

    window.location.reload();
  }

  async function makeUser(user) {
    console.log(`Making user ${user.email} regular user...`);
    await fetch(`/users/${group}/${user.uid}/user`, {method: "PATCH"});

    window.location.reload();
  }
</script>
</html>
